.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 500;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 5.2rem;
  line-height: 1.05;
}
